.floating-button {
    position: fixed;
    bottom: 30px;
    right: 30px;
    border-radius: 75%;
    padding: 3px 10px;
    font-size: 2rem;
    color: rgb(137, 51, 183);
}

.xx-small-text {
    font-size: xx-small;
}

.rem10-text {
    font-size: 10rem;
}

.invalid-input {
    border-color: #ff4f4f;
}