.floating-button {
    position: fixed;
    top: 50px;
    right: 55px;
    border-radius: 75%;
    padding: 3px 10px;
    font-size: 2rem;
    color: rgb(137, 51, 183);
}

.xx-small-text {
    font-size: xx-small;
}