:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --font-size-base: 16px;
  --font-size-heading: 2em;
  --font-size-paragraph: 1em;

}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

@media (max-width: 576px) {
  :root {
    --font-size-base: 10px;
    --font-size-heading: 1.5em;
    --font-size-paragraph: 0.875em;
  }
}

body {
  font-size: var(--font-size-base);
}

h1 {
  font-size: var(--font-size-heading);
}

p {
  font-size: var(--font-size-paragraph);
}

.bg-savings-exp {
  background-color: #a5d7a7;
}

.bg-savings {
  background-color: #4CAF50;
}

.bg-needs-exp {
  background-color: #90caf9;
}

.bg-needs {
  background-color: #2196F3;
}

.bg-wants-exp {
  background-color: #ffcb7f;
}

.bg-wants {
  background-color: #FF9800;
}

.bg-total-all-exp {
  background-color: #cbcccb;
}

@media (min-width: 992px) {
  .custom-border {
    border-bottom: 1px solid; /* Ajusta el grosor del borde */
    border-image: linear-gradient(to right, rgba(128, 128, 128, 1) 0%, rgba(128, 128, 128, 0.5) 50%, rgba(128, 128, 128, 0) 100%);
    border-image-slice: 1;
  }

  .vh90 {
    height: 70vh;
  }
  
}